
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" >
        <!-- Icono para el perfil -->
        <ion-button (click)="recargarPagina()">
          <ion-icon name="refresh"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end" >
        <!-- Icono para el perfil -->
        <ion-button (click)="irAPerfil()">
          <ion-icon name="person"></ion-icon>
        </ion-button>
      </ion-buttons>  
      
        <!-- Icono para cerrar sesión (logout) -->
        <ion-buttons slot="end" >
        <ion-button (click)="cerrarSesion()">
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>  
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <app-explore-container name="Craftify Modulo Trabajadores"></app-explore-container>
</ion-content>

<div class="scrollable-div">
  <ion-list>
    <ion-item *ngFor="let trabajadores of datosApi">
      <ion-label class="nombre-trabajador-label">{{ trabajadores.nombre}} {{ trabajadores.apellido}}</ion-label>
      <ion-button expand="full" (click)="abrirModal(trabajadores)">
        <ion-icon name="eye-outline"></ion-icon> Ver Trabajador
      </ion-button>
    </ion-item>
  </ion-list>
</div>