<ion-content class="ion-padding">
 <ion-item>
   <ion-label>Proyecto Seleccionado</ion-label>
   <p>Esta tarea es del proyecto: {{ proyecto }}</p>
 </ion-item>
 <ion-item>
   <ion-label>Equipo</ion-label>
   <p>Esta tarea pertenece al equipo:{{ equipo }}</p>
 </ion-item>
 <ion-item>
   <ion-label>Status</ion-label>
   <p>Esta tarea esta en status: {{ status }}</p>
 </ion-item>
 <ion-item>
   <ion-label>Tiempo Restante</ion-label>
   <p>Esta tarea tiene un tiempo restante de: {{ diasRestantes }}</p>
 </ion-item>
  <form [formGroup]="tareaForm" enctype="multipart/form-data" method="post">
    <!-- Tarea -->
    <ion-item>
      <ion-select label="Tarea" placeholder="Selecciona tu Tarea" formControlName="tarea">
        <ion-select-option>
          {{ tareaSeleccionada }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Comentario -->
    <ion-item>
      <ion-input label="Comentario" position ="floating" placeholder="Escribe tu comentario" formControlName="comentario"></ion-input>
    </ion-item>

    <!-- Foto -->
    <ion-item>
      <ion-label position="stacked">Foto</ion-label>
      <ion-input type="file" (change)="onFileChange($event)" formControlName="imagen"></ion-input>
    </ion-item>

    <!-- Otros campos del formulario -->

    <!-- Botón de envío -->
    <ion-button expand="full" color="primary" (click)="submitForm()">Enviar Formulario</ion-button>
  </form>
</ion-content>
