<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Formulario Tareas</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    
  <form action="">
    <ion-list>
    <ion-item>
      <ion-icon name="file-tray"></ion-icon>
      <ion-label class="Tarea">Tarea</ion-label>
      <ion-input label="Tarea"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar"></ion-icon>
      <ion-label class="Fecha">Fecha</ion-label>
      <ion-input label="Fecha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="document-text"></ion-icon>
      <ion-label class="Comentario">Comentario</ion-label>
      <ion-input label="Comentario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="image"></ion-icon>
      <ion-label class="Imagen">Imagen</ion-label>
      <ion-input label="Imagen"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="people"></ion-icon>
      <ion-label class="Equipo">Equipo</ion-label>
      <ion-input label="Equipo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="cube"></ion-icon>
      <ion-label class="Proyecto">Proyecto</ion-label>
      <ion-input label="Proyecto"></ion-input>
    </ion-item>
  </ion-list>
  <input type="submit">
  </form>

</ion-card-content>
</ion-card>
</ion-content>

