<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles de Tarea</ion-card-title>
    </ion-card-header>
    <ion-card-content>
 <ion-item>
   <ion-icon name="cube" slot="start"></ion-icon>
   <ion-label>Proyecto Seleccionado:  {{ proyecto }}</ion-label>
 </ion-item>
 <ion-item>
   <ion-icon name="people" slot="start"></ion-icon>
   <ion-label>Equipo: {{ equipo }}</ion-label>
 </ion-item>
 <ion-item>
   <ion-icon name="flag" slot="start"></ion-icon>
   <ion-label>Status: {{ status }}</ion-label>
 </ion-item>
 <ion-item>
   <ion-icon name="calendar" slot="start"></ion-icon>
   <ion-label>Tiempo Restante: {{ diasRestantes }} Dias</ion-label>
 </ion-item>
  <form [formGroup]="tareaForm" enctype="multipart/form-data" method="post">
    <!-- Tarea -->
    <ion-item>
      <ion-icon name="copy" slot="start"></ion-icon>
      <ion-select label="Tarea" placeholder="Selecciona tu Tarea" formControlName="tarea" slot="start">
        <ion-select-option>
          {{ tareaSeleccionada }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Comentario -->
    <ion-item>
      <ion-icon name="text" slot="start"></ion-icon>
      <ion-input label="Comentario" position ="floating" placeholder="Escribe tu comentario" formControlName="comentario"></ion-input>
    </ion-item>

    <!-- Foto -->
    <ion-item>
      <ion-icon name="image" slot="start"></ion-icon>
      <ion-label label="default label">Foto</ion-label>
      <ion-input type="file" (change)="onFileChange($event)" formControlName="imagen"></ion-input>
    </ion-item>

    <!-- Otros campos del formulario -->

    <!-- Botón de envío -->
    <ion-button expand="full" (click)="submitForm()">Enviar Formulario</ion-button>
  </form>
</ion-card-content>
</ion-card>
</ion-content>
