ion-button {
    --background: #7cf0a8da;
    --color: black;
    text-transform: capitalize;
}

@media screen and (max-width: 600px) {
}

div{
    margin-top: auto;
}

ion-card-title {
text-align: center;
  }

.nombre-proyecto-label {
    text-transform: capitalize !important;
    font-size: 14px;

}

.card {
    padding-top: 20px;
}

.card-subtitle {
    font-size: 14px;
    text-align: center;
}