<ion-content class="ion-padding">
  <div class="card-login">
    <ion-card>
      <ion-card-content>
        <ion-img src="assets/logo.png" alt="Logo"></ion-img>
        <br>
        <span id="version">Bienvenid@ a Craftify</span>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="center-container">
    <ion-card>
      <ion-card-content>
        <form (ngSubmit)="onLogin()">
          <ion-list>
            <ion-item>
              <ion-label position="fixed">RUT</ion-label>
              <ion-input placeholder="Ej. 12345678" helperText="Ingresa tu RUT sin puntos ni guion." type="text" [(ngModel)]="rut" name="RUT"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed">Contraseña</ion-label>
              <ion-input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Ingresa tu contraseña" [(ngModel)]="password" name="password"></ion-input>
              <ion-icon slot="end" name="{{ showPassword ? 'eye-off' : 'eye' }}" (click)="togglePasswordVisibility()"></ion-icon>
            </ion-item>
          </ion-list>
          <br>
          <ion-button type="submit" id="lgnBtn">Iniciar sesión</ion-button>
        </form>
      </ion-card-content>
      <ion-row class="cardfooter">
        <ion-col>
              <span id="version">Si olvidaste tu contraseña, contacta a tu administrador.</span>
        </ion-col>
      </ion-row>
    </ion-card>
    
  </div>
  <ion-row class="cardfooter">
    <ion-col>
          <span id="version">V1.0</span>
    </ion-col>
  </ion-row>
</ion-content>
