ion-button {
    --background: #7CF0A9;
    --color: black;
    font-weight: bold;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh; /* Ajusta la altura al 100% de la ventana */
}
.card-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh; /* Ajusta la altura al 100% de la ventana */
  padding-bottom: 35px;
}

ion-card {
  max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
}

ion-card-content {
  padding: 20px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-img {
  width: 30%;
  height: auto; /* Para mantener la proporción original de la imagen */
  margin: auto;
}