/* Estilos generales para las tabs */
ion-tabs {
    width: 100%;
  }

  
ion-tab-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 600px) {
  /* Estilos para pantallas más pequeñas */
  ion-tab-bar {
    flex-wrap: wrap;
    justify-content: center;
  }

  ion-tab-bar ion-tab-button {
    width: 16.666%; /* Divide el ancho en 6 partes iguales */
  
  }
}


ion-tab-button{
    --color: grey;
    --color-selected:#7CF0A9;
    --background: white;
    --backgroun-focused:white;
    --ripple-color: white;
    font-weight: bold;
    justify-content: center;
}

