/* Estilos generales para las tabs */
ion-tabs {
    width: 100%;
  }
  
ion-tab-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

ion-tab-button{
    --color: grey;
    --color-selected:#7CF0A9;
    --background: white;
    --backgroun-focused:white;
    --ripple-color: white;
    font-weight: bold;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
  
  }