<ion-header>
  <ion-toolbar>
    <ion-title>{{ avances.avance_id}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles del Avance </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label class="label">ID</ion-label>
          <ion-text>{{ avances.avance_id }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="image" slot="start"></ion-icon>
          <ion-label class="label">Imagen</ion-label>
          <ion-text>{{ avances.imagen }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="folder" slot="start"></ion-icon>
          <ion-label class="label">Comentario</ion-label>
          <ion-text>{{ avances.comentario }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="construct" slot="start"></ion-icon>
          <ion-label class="label">Tarea</ion-label>
          <ion-text>{{ avances.tarea }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="people" slot="start"></ion-icon>
          <ion-label class="label">ID Equipo</ion-label>
          <ion-text>{{ avances.equipo_id_equipo }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="cube" slot="start"></ion-icon>
          <ion-label class="label">ID Proyecto</ion-label>
          <ion-text>{{ avances.proyecto_id_proyecto }}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
