#container {
  text-align: center;
  margin-top: 20px; /* Ajusta según sea necesario para centrar verticalmente y aumentar el espacio */
}

.small-text {
  font-size: 12px; /* Ajusta el tamaño de la fuente según sea necesario */
}

.logo-container {
  width: 50%; /* Ajusta el ancho de la imagen según sea necesario */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Centra horizontalmente */
}

ion-img {
  width: 45%;
  height: auto; /* Para mantener la proporción original de la imagen */
}