<ion-header>
  <ion-toolbar>
    <ion-title>{{ proyecto.nombre_proyecto }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles del Proyecto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="people" slot="start"></ion-icon>
          <ion-label class="label">Nombre</ion-label>
          <ion-text>{{ proyecto.nombre }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="people" slot="start"></ion-icon>
          <ion-label class="label">Apellido</ion-label>
          <ion-text>{{ proyecto.apellido }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="folder" slot="start"></ion-icon>
          <ion-label class="label">Categoría</ion-label>
          <ion-text>{{ proyecto.categoria }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label class="label">RUT del Cliente</ion-label>
          <ion-text>{{ proyecto.cliente }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label class="label">Fecha</ion-label>
          <ion-text>{{ proyecto.fecha }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="construct" slot="start"></ion-icon>
          <ion-label class="label">Instalación</ion-label>
          <ion-text>{{ proyecto.instalacion ? 'Sí' : 'No' }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="cube" slot="start"></ion-icon>
          <ion-label class="label">Nombre del Proyecto</ion-label>
          <ion-text>{{ proyecto.nombre_proyecto }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="alarm" slot="start"></ion-icon>
          <ion-label class="label">Plazo de Entrega</ion-label>
          <ion-text>{{ proyecto.plazo_entrega }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="flag" slot="start"></ion-icon>
          <ion-label class="label">Estado</ion-label>
          <ion-text>{{ proyecto.status }}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
